/* CSS file --> index.html */
/* (1) selector */
body{
    background-color: #DAD0C2;
}

h2{
    text-align:center;
    font-family: Alegreya SC;
    font-weight: normal;
}
h4{
    text-align: center;
    font-family: Alegreya SC;
    font-weight: bold;
}
table{
    width: 100%;
    text-align: center;
    font-family: Alegreya SC;
}
th{
    width: 33.33%;
    vertical-align: top;
}
/* (2) Class Selactor */
.p-aboutme{
    font-weight: normal;
    text-align: justify;
}
/* (3) Id selactor */
#th-details{
    text-align: left;
}
.p-alldetails{
    font-weight: normal;
}
.p-credit{
    text-align: center;
}
.name{
    text-decoration: underline;
    color: #CDBBA7;
}

/* div */
.top-part{
    background-color: #FDEFEF;
}
.table-menu td :link{
    color: rgb(255, 142, 142);
}
.table-menu td :hover{
    background-color: #F4DFD0;
    color: rgb(255, 159, 159);
    
}
.table-content h2{
    background-color: #CDBBA7;
}
.table-content img{
    background-color: #ecdafd;
}
.table-content{
    background-color: #ecdafd;
}
